 {% load static tailwind_tags %}
 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block tittle %} Thia is my difol titel{% endblock  %}
    </title>
    <link rel="stylesheet" href=" {% static  'css/style.css'%}">
    {% tailwind_css %}
</head>
<body>
     <nav> this in nav bar </nav>
     <section >
         {% block body %} <h1> this is my body data.</h1>{% endblock  %}

     </section>
     <footer>
        this is my footer. 
     </footer>
</body>
</html>