body {
    background-color: #0d3864;
    font-family: Arial, sans-serif;
}

h1{
    color: aqua;
}

section{
    height: 80vh;
}

nav{
    background-color: aquamarine;
    color: #0d3864;
}

footer{
    background-color: cadetblue;
    color: aliceblue;
}